<a href="https://colab.research.google.com/github/Tehilag37/Netflix_Data_Science/blob/main/Assignment_1_Preparing_and_Exploratory_Analysis_of_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#@title ## Big Data Lab  - Assignment 3  - Preparing and Exploratory Analysis of Data
#@markdown ### Instructions
#@markdown 1. The purpose of this assignment is to cover the necessary EDA skills 
#@markdown  you need to dominate in order to handle the course material.
#@markdown 2. You can choose to complete the assignment on your own or to colaborate with a partner. You are welcome to discuss your work with your fellow students but to maintain a healthy learning process - please keep all final answers to yourself! 
#@markdown 3. Complete the answers in the empty cells - Feel free to add as many extra cell as you require.
#@markdown 4. Fill in your name and select the Year and Department.
#@markdown 5. When done - Download the colab notebook by going to 'File -> Download .ipynb' and submit the file in the course's moodle page before the due date. 
 
#@markdown ---
#@markdown ### Enter your information:
Student1_Full_Name = "" #@param {type:"string"}
Student2_Full_Name = "" #@param {type:"string"}
Department = "Industrial Engineering" #@param ["Select","Computer Science", "Industrial Engineering", "Economics and Management"]
Year = "Third" #@param ["Select","Second", "Third", "Fourth"]

#@markdown ---

1. Import the necessary libraries

2. Create a dataframe from the following link. Name it "sales_df".
>'https://raw.githubusercontent.com/ShaiShmuel/BigData_Course/main/bigData/DataSets/supermarket_sales.csv'

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1003 entries, 0 to 1002
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1003 non-null   object
 1   Branch                   1003 non-null   object
 2   City                     1003 non-null   object
 3   Customer type            996 non-null    object
 4   Gender                   990 non-null    object
 5   Product line             1003 non-null   object
 6   Unit price               1003 non-null   float64
 7   Quantity                 1003 non-null   int64
 8   Tax 5%                   1003 non-null   float64
 9   Total                    1003 non-null   float64
 10  Date                     1003 non-null   object
 11  Time                     1003 non-null   object
 12  Payment                  1003 non-null   object
 13  cogs                     1003 non-null   float64
 14  gross margin percentage  1003 non-null   float64
 15  gross income             1003 non-null   float64
 16  Rating                   1003 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 133.3+ KB

##Know your data

Context

The growth of supermarkets in most populated cities are increasing and market competitions are also high. The dataset is one of the historical sales of supermarket company which has recorded in 3 different branches for 3 months data. Predictive data analytics methods are easy to apply with this dataset.

Attribute information

**Invoice id**: Computer generated sales slip invoice identification number

**Branch**: Branch of supercenter (3 branches are available identified by A, B and C).

**City**: Location of supercenters

**Customer type**: Type of customers, recorded by Members for customers using member card and Normal for without member card.

**Gender**: Gender type of customer

**Product line**: General item categorization groups - Electronic accessories, Fashion accessories, Food and beverages, Health and beauty, Home and lifestyle, Sports and travel

**Unit price**: Price of each product in $

**Quantity**: Number of products purchased by customer

**Tax**: 5% tax fee for customer buying

**Total**: Total price including tax

**Date**: Date of purchase (Record available from January 2019 to March 2019)

**Time**: Purchase time (10am to 9pm)

**Payment**: Payment used by customer for purchase (3 methods are available â€“ Cash, Credit card and Ewallet)

**COGS**: Cost of goods sold

**Gross margin percentage**: Gross margin percentage

Gross income: Gross income

**Rating**: Customer stratification rating on their overall shopping experience (On a scale of 1 to 10)

Purpose

This dataset can be used for predictive data analytics purpose.

**For example:**

Given the type of customer, the date , and the branch - predict the rating that the customer would give.

3. Print the head and info of the dataframe

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,NaN,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,NaN,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1003 entries, 0 to 1002
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1003 non-null   object
 1   Branch                   1003 non-null   object
 2   City                     1003 non-null   object
 3   Customer type            996 non-null    object
 4   Gender                   990 non-null    object
 5   Product line             1003 non-null   object
 6   Unit price               1003 non-null   float64
 7   Quantity                 1003 non-null   int64
 8   Tax 5%                   1003 non-null   float64
 9   Total                    1003 non-null   float64
 10  Date                     1003 non-null   object
 11  Time                     1003 non-null   object
 12  Payment                  1003 non-null   object
 13  cogs                     1003 non-null   float64
 14  gross margin percentage  1003 non-null   float64
 15  gross income             1003 non-null   float64
 16  Rating                   1003 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 133.3+ KB

4. What is the dataframe's shape?

(1003, 17)

5. What is the datatype of the 'Date' feature? convert it to datetime in the original dataframe

Hint : you can do it inside the pd.read_csv() as we saw on class, you will need to reload the data frame

optional : use the pd.to_datetime() function, we didn't used this function yet, but it's ok if you want to use it

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1003 entries, 0 to 1002
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1003 non-null   object
 1   Branch                   1003 non-null   object
 2   City                     1003 non-null   object
 3   Customer type            996 non-null    object
 4   Gender                   990 non-null    object
 5   Product line             1003 non-null   object
 6   Unit price               1003 non-null   float64
 7   Quantity                 1003 non-null   int64
 8   Tax 5%                   1003 non-null   float64
 9   Total                    1003 non-null   float64
 10  Date                     1003 non-null   datetime64[ns]
 11  Time                     1003 non-null   object
 12  Payment                  1003 non-null   object
 13  cogs                     1003 non-null   float64
 14  gross margin percentage  1003 non-null   float64
 15  gross income             1003 non-null   float64
 16  Rating                   1003 non-null   float64
dtypes: datetime64[ns](1), float64(7), int64(1), object(8)
memory usage: 133.3+ KB

6. Change the columns names that will not include ' '
   for example: 'full name' -> 'full_name'

7. Check if we any duplicated rows, print the amount of the duplicated rows

3

8. Print the duplicated rows

,Invoice_ID,Branch,City,Customer_type,Gender,Product_line,Unit_price,Quantity,Tax_5%,Total,Date,Time,Payment,cogs,gross_margin_percentage,gross_income,Rating
1000,315-22-5665,C,Naypyitaw,Normal,Female,Home and lifestyle,73.56,10,36.78,772.38,2019-02-24,11:38,Ewallet,735.6,4.761905,36.78,8.0
1001,605-03-2706,A,Yangon,Normal,Female,Health and beauty,15.80,3,2.37,49.77,2019-03-25,18:02,Cash,47.4,4.761905,2.37,9.5
1002,725-54-0677,C,Naypyitaw,Member,Male,Health and beauty,85.60,7,29.96,629.16,2019-03-02,13:50,Cash,599.2,4.761905,29.96,5.3

9. Drop the duplicate rows, make sure to fix the index

,Invoice_ID,Branch,City,Customer_type,Gender,Product_line,Unit_price,Quantity,Tax_5%,Total,Date,Time,Payment,cogs,gross_margin_percentage,gross_income,Rating
0,750-67-8428,A,Yangon,Member,NaN,Health and beauty,74.69,7,26.1415,548.9715,2019-01-05,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,2019-03-08,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,2019-03-03,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,2019-01-27,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,NaN,Sports and travel,86.31,7,30.2085,634.3785,2019-02-08,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,2019-01-29,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,2019-03-02,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2019-02-09,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2019-02-22,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2019-02-18,13:28,Cash,618.38,4.761905,30.9190,6.6

10. Is there any missing values? print the table that show sum of missing values for each column

Invoice_ID                  0
Branch                      0
City                        0
Customer_type               7
Gender                     13
Product_line                0
Unit_price                  0
Quantity                    0
Tax_5%                      0
Total                       0
Date                        0
Time                        0
Payment                     0
cogs                        0
gross_margin_percentage     0
gross_income                0
Rating                      0
dtype: int64

11. Print the rows with the missing values

,Invoice_ID,Branch,City,Customer_type,Gender,Product_line,Unit_price,Quantity,Tax_5%,Total,Date,Time,Payment,cogs,gross_margin_percentage,gross_income,Rating
0,750-67-8428,A,Yangon,Member,NaN,Health and beauty,74.69,7,26.1415,548.9715,2019-01-05,13:08,Ewallet,522.83,4.761905,26.1415,9.1
4,373-73-7910,A,Yangon,Normal,NaN,Sports and travel,86.31,7,30.2085,634.3785,2019-02-08,10:37,Ewallet,604.17,4.761905,30.2085,5.3
11,529-56-3974,B,Mandalay,Member,NaN,Electronic accessories,25.51,4,5.1020,107.1420,2019-03-09,17:03,Cash,102.04,4.761905,5.1020,6.8
12,365-64-0515,A,Yangon,Normal,NaN,Electronic accessories,46.95,5,11.7375,246.4875,2019-02-12,10:25,Ewallet,234.75,4.761905,11.7375,7.1
25,227-03-5010,A,Yangon,Member,NaN,Home and lifestyle,52.59,8,21.0360,441.7560,2019-03-22,19:20,Credit card,420.72,4.761905,21.0360,8.5
27,189-17-4241,A,Yangon,Normal,NaN,Fashion accessories,87.67,2,8.7670,184.1070,2019-03-10,12:17,Credit card,175.34,4.761905,8.7670,7.7
29,848-62-7243,A,Yangon,Normal,NaN,Health and beauty,24.89,9,11.2005,235.2105,2019-03-15,15:36,Cash,224.01,4.761905,11.2005,7.4
41,554-53-8700,C,Naypyitaw,Member,NaN,Home and lifestyle,56.11,2,5.6110,117.8310,2019-02-02,10:11,Cash,112.22,4.761905,5.6110,6.3
42,354-25-5821,B,Mandalay,Member,NaN,Sports and travel,69.12,6,20.7360,435.4560,2019-02-08,13:03,Cash,414.72,4.761905,20.7360,5.6
43,228-96-1411,C,Naypyitaw,Member,NaN,Food and beverages,98.70,8,39.4800,829.0800,2019-03-04,20:39,Cash,789.60,4.761905,39.4800,7.6
44,617-15-4209,C,Naypyitaw,Member,NaN,Health and beauty,15.37,2,1.5370,32.2770,2019-03-16,19:47,Cash,30.74,4.761905,1.5370,7.2
45,132-32-9879,B,Mandalay,Member,NaN,Electronic accessories,93.96,4,18.7920,394.6320,2019-03-09,18:00,Cash,375.84,4.761905,18.7920,9.5
51,162-48-8011,A,Yangon,NaN,Female,Food and beverages,44.59,5,11.1475,234.0975,2019-02-10,15:10,Cash,222.95,4.761905,11.1475,8.5
54,242-55-6721,B,Mandalay,NaN,Male,Home and lifestyle,16.16,2,1.6160,33.9360,2019-03-07,11:49,Ewallet,32.32,4.761905,1.6160,6.5
55,399-46-5918,C,Naypyitaw,NaN,Female,Electronic accessories,85.98,8,34.3920,722.2320,2019-02-28,19:01,Cash,687.84,4.761905,34.3920,8.2
56,106-35-6779,A,Yangon,NaN,Male,Home and lifestyle,44.34,2,4.4340,93.1140,2019-03-27,11:26,Cash,88.68,4.761905,4.4340,5.8
57,635-40-6220,A,Yangon,Normal,NaN,Health and beauty,89.60,8,35.8400,752.6400,2019-02-07,11:28,Ewallet,716.80,4.761905,35.8400,6.6
59,120-06-4233,C,Naypyitaw,NaN,Male,Electronic accessories,30.61,6,9.1830,192.8430,2019-03-12,20:36,Cash,183.66,4.761905,9.1830,9.3
60,285-68-5083,C,Naypyitaw,NaN,Female,Sports and travel,24.74,3,3.7110,77.9310,2019-02-15,17:47,Credit card,74.22,4.761905,3.7110,10.0
61,803-83-5989,C,Naypyitaw,NaN,Male,Home and lifestyle,55.73,6,16.7190,351.0990,2019-02-24,10:55,Ewallet,334.38,4.761905,16.7190,7.0

12. Replace the missing values with a reasonable value(as your choice) and explain why you chosed it

In [ ]:



'''
explain goes here:

'''

'\nexplain goes here:\n\n'

13. Convert the string values of gender and customer type

,Invoice_ID,Branch,City,Customer_type,Gender,Product_line,Unit_price,Quantity,Tax_5%,Total,Date,Time,Payment,cogs,gross_margin_percentage,gross_income,Rating
0,750-67-8428,A,Yangon,1,1,Health and beauty,74.69,7,26.1415,548.9715,2019-01-05,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,0,0,Electronic accessories,15.28,5,3.8200,80.2200,2019-03-08,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,0,1,Home and lifestyle,46.33,7,16.2155,340.5255,2019-03-03,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,1,1,Health and beauty,58.22,8,23.2880,489.0480,2019-01-27,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,0,1,Sports and travel,86.31,7,30.2085,634.3785,2019-02-08,10:37,Ewallet,604.17,4.761905,30.2085,5.3

14. Check for zero variance features

Invoice_ID                 1000
Branch                        3
City                          3
Customer_type                 2
Gender                        2
Product_line                  6
Unit_price                  943
Quantity                     10
Tax_5%                      990
Total                       990
Date                         89
Time                        506
Payment                       3
cogs                        990
gross_margin_percentage       1
gross_income                990
Rating                       61
dtype: int64

15. Remove zero variance features

16. display the frequency table of Payment type

col_0        Count
Payment
Cash           344
Credit card    311
Ewallet        345

17. Create a Pie chart that shows the Payment type frequency, tha label will be the type + value, and the hover will be the type + percentage (use the example from the class)

18 .Bin the 'rating' feature values into 3 categories: 0-5('bad'), 6-8('good'), 9-10('excellent'), make sure you add this to a new column

,Invoice_ID,Branch,City,Customer_type,Gender,Product_line,Unit_price,Quantity,Tax_5%,Total,Date,Time,Payment,cogs,gross_income,Rating,Rating_bins
0,750-67-8428,A,Yangon,1,1,Health and beauty,74.69,7,26.1415,548.9715,2019-01-05,13:08,Ewallet,522.83,26.1415,9.1,excellent
1,226-31-3081,C,Naypyitaw,0,0,Electronic accessories,15.28,5,3.8200,80.2200,2019-03-08,10:29,Cash,76.40,3.8200,9.6,excellent
2,631-41-3108,A,Yangon,0,1,Home and lifestyle,46.33,7,16.2155,340.5255,2019-03-03,13:23,Credit card,324.31,16.2155,7.4,good
3,123-19-1176,A,Yangon,1,1,Health and beauty,58.22,8,23.2880,489.0480,2019-01-27,20:33,Ewallet,465.76,23.2880,8.4,excellent
4,373-73-7910,A,Yangon,0,1,Sports and travel,86.31,7,30.2085,634.3785,2019-02-08,10:37,Ewallet,604.17,30.2085,5.3,good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,0,1,Health and beauty,40.35,1,2.0175,42.3675,2019-01-29,13:46,Ewallet,40.35,2.0175,6.2,good
996,303-96-2227,B,Mandalay,0,0,Home and lifestyle,97.38,10,48.6900,1022.4900,2019-03-02,17:16,Ewallet,973.80,48.6900,4.4,bad
997,727-02-1313,A,Yangon,1,1,Food and beverages,31.84,1,1.5920,33.4320,2019-02-09,13:22,Cash,31.84,1.5920,7.7,good
998,347-56-2442,A,Yangon,0,1,Home and lifestyle,65.82,1,3.2910,69.1110,2019-02-22,15:33,Cash,65.82,3.2910,4.1,bad
999,849-09-3807,A,Yangon,1,0,Fashion accessories,88.34,7,30.9190,649.2990,2019-02-18,13:28,Cash,618.38,30.9190,6.6,good

19. Are there any unecessary features in the DF? (That don't add new information) Drop the columns from the DF if such exist.

20. Print a correlation matrix, afterwards plot a heatmap of the correlation matrix.

,Customer_type,Gender,Unit_price,Quantity,Tax_5%,Total,cogs,gross_income,Rating
Customer_type,1.000000,-0.031955,0.024267,0.021232,0.024258,0.024258,0.024258,0.024258,-0.022826
Gender,-0.031955,1.000000,0.025565,-0.073285,-0.042783,-0.042783,-0.042783,-0.042783,0.012126
Unit_price,0.024267,0.025565,1.000000,0.010778,0.633962,0.633962,0.633962,0.633962,-0.008778
Quantity,0.021232,-0.073285,0.010778,1.000000,0.705510,0.705510,0.705510,0.705510,-0.015815
Tax_5%,0.024258,-0.042783,0.633962,0.705510,1.000000,1.000000,1.000000,1.000000,-0.036442
Total,0.024258,-0.042783,0.633962,0.705510,1.000000,1.000000,1.000000,1.000000,-0.036442
cogs,0.024258,-0.042783,0.633962,0.705510,1.000000,1.000000,1.000000,1.000000,-0.036442
gross_income,0.024258,-0.042783,0.633962,0.705510,1.000000,1.000000,1.000000,1.000000,-0.036442
Rating,-0.022826,0.012126,-0.008778,-0.015815,-0.036442,-0.036442,-0.036442,-0.036442,1.000000

20. b. Detect the highly correlated features. Drop them and plot the updated correlation heatmap.

(Make sure not to delete all the features - Keep one of each correlated group)